[submodule "cf-dev/californium"]
	path = cf-dev/californium
	url = https://github.com/eclipse/californium.git
[submodule "cf-dev/californium.tools"]
	path = cf-dev/californium.tools
	url = https://github.com/eclipse/californium.tools.git
